

<ion-view title="Savour" id="page13" cache-view="false">
	<!-- <ion-nav-buttons side="left">
    	<a href="" class="txt-white">Hello Restaurant Name</a>
    </ion-nav-buttons> -->

    <ion-nav-title>
        <h4 class="title-bar">Savour</h4>
    </ion-nav-title>
    <ion-nav-bar class="header-bar">
        <ion-nav-buttons side="right">      
            <button class="button icon-right" ui-sref="ManagerTabController.managerProfile()"><i class="icon ion-person" id="icon-white"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="false" class="has-header">
    	<div class="pramotion-view">
    		<!-- <p><strong>Create New Promotion +</strong></p> -->
    		<button class="button button-balanced">Create New Promotion+</button>
    		<!-- <p>Current open promotion</p> -->
    	</div>
		<!-- <div class="row main-view">
	        <div class="col col-20">
	          <img src="img/hotel-1.jpg">
	        </div>
	        <div class="col col-80">
	          <h2>Restaurant Name</h2>
	          <p>Christmas Offers</p>
	          <span>Promotion is open for 3 days</span>
	        </div>
	        
	    </div> -->
	    <div class="row">
	    	<div class="pramotion-header">
	    		<h4>Current Open Promotion</h4>
	    	</div>
	    </div>
	    <div class="list pramotion-block">

	    	<a class="item item-thumbnail-left" href="">
	    		<img src="img/3.jpg">
	    		<h2>Trident Nariman Point</h2>
	    		<!-- <p>Trident Nariman Point</p> -->
	    		<!-- <h2>Christmas Offers</h2> -->
	    		<p>Christmas Offers</p>
	    		<span><div id="timerPromotion"> {{daysc}}d {{hoursc}}h  {{minutesc}}m</div></span>
	    	</a>

	    	<a class="item item-thumbnail-left" href="">
	    		<img src="img/hotel-1.jpg">
	    		<h2>The St. Regis Mumbai</h2>
	    		<p>No current promotion</p>
	    	</a>

	    </div>
	    <div class="row">
	    	<div class="pramotion-header">
	    		<h4>Upcoming Promotion</h4>
	    	</div>
	    </div>
	    <!-- <div class="row">
	    	<div class="col col-50">
	    		<div class="upcoming-promo">
		    		<img src="img/hotel-1.jpg">
		    		<h2>Restaurant Name</h2>
		    		<p>Nine Inch Nails Nine Inch Nails.</p>
	    		</div>
	    	</div>
	    	<div class="col col-50">
	    		<div class="upcoming-promo">
		    		<img src="img/hotel-1.jpg">
		    		<h2>Restaurant Name</h2>
		    		<p>Nine Inch Nails Nine Inch Nails.</p>
	    		</div>
	    	</div>
	    </div> -->
	    <div class="list promotion-offers">

	    	<a class="item item-icon-left" href="">
	    		<i class="icon ion-pricetags"></i>
	    		Diwali Offers
	    		<span class="item-note">
	    			31 Nov 2017
	    		</span>
	    	</a>
	    	<a class="item item-icon-left" href="">
	    		<i class="icon ion-pricetags"></i>
	    		Christmas Offers
	    		<span class="item-note">
	    			25 Dec 2017
	    		</span>
	    	</a>
	    </div>
	    <!-- <div class="row promotion-offers">
	        
	        <div class="col col-70">
	          <h2>Diwali Offers</h2>
	        </div>
	        <div class="col col-30">
	          <p>31 Nov 2017</p>
	        </div>
	    </div> -->
      	<!-- <div class="row ">
	        
	        <div class="col col-70">
	          <h2>Christmas Offers</h2>
	        </div>
	        <div class="col col-30">
	          <p>25 Dec 2017</p>
	        </div>
	    </div> -->
	</ion-content>
</ion-view>