
<ion-view title="Create Account" id="create-account">

<ion-nav-title>
    <h4 class="title-bar">Create Account</h4>
  </ion-nav-title>
  <ion-nav-bar class="header-bar">
    <ion-nav-buttons side="left">      
      <button class="button" id="back-button" ui-sref="UserTabController.promotions()"><i class="icon ion-chevron-left"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>



<ion-content padding="false" class="has-header">

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Mobile</span>
    <input type="text" placeholder="Mobile">
  </label>


</div>
<button class="button button-block" ui-sref="login" id="submit" >
  Submit
</button>

</ion-content>
</ion-view>