<ion-view title="" id="happypage" cache-view="false">

	<ion-nav-title>
		<h4 class="title-bar">Savour</h4>
	</ion-nav-title>
	<ion-nav-bar class="header-bar">
		<ion-nav-buttons side="right">

			<button class="button icon-right" ui-sref="ManagerTabController.managerProfile()"><i class="icon ion-person" id="icon-white"></i></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="left">
			<a ui-sref="ManagerTabController.happyHours()" class="txt-white extra-padding"><i class="icon ion-chevron-left"></i></a>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="has-header has-subheader">

		<h3 class="text-center">Please select Happy Hours</h3>

		<div class="row no-padding happy-row">
			<div class="col col-50">
				<p class="text-center"><strong class="results"></strong></p>
				<button class="button button-full button-stable btn-blue" ng-click="gbc1()">
					From Time  
				</button>
			</div>
			<div class="col col-50">
				<p class="text-center"><strong class="resultsTwo"></strong></p>
				<button class="button button-full button-stable btn-blue" ng-click="gbc2()">
					To time 
				</button>
			</div>
		</div>


		<button id="happy-submit-button" class="button button-block" ui-sref="ManagerTabController.happyHours()">Save</button>

	</ion-content>
</ion-view>