<!-- <ion-nav-bar>
  <ion-nav-back-button class="button-clear"
  ng-click="myGoBack()">
  <i class="ion-arrow-left-c"></i> Back
</ion-nav-back-button>
</ion-nav-bar>  -->

<ion-view title="" id="happypage" cache-view="false">
<!-- 
<div class="bar bar-subheader">
  <h2 class="title">Happy Hour Times for today</h2>
</div> -->
<ion-nav-title>
  <h4 class="title-bar">Savour</h4>
</ion-nav-title>
<ion-nav-bar class="header-bar">
  <ion-nav-buttons side="right">

    <button class="button icon-right" ui-sref="ManagerTabController.managerProfile()"><i class="icon ion-person" id="icon-white"></i></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a ui-sref="ManagerTabController.manageAccount()" class="txt-white extra-padding"><i class="icon ion-chevron-left"></i></a>
  </ion-nav-buttons>
</ion-nav-bar>
<!-- <div class="bar bar-subheader">
  <h2 class="title">Happy Hours</h2>
</div>
 -->
<ion-content class="has-header has-subheader">

<a ui-sref="ManagerTabController.happyTimes()" class="button button-full icon-right ion-chevron-right button-calm">Sunday</a>
<a ui-sref="ManagerTabController.happyTimes()" class="button button-full  icon-right ion-chevron-right button-calm">Monday</a>
<a ui-sref="ManagerTabController.happyTimes()" class="button button-full  icon-right ion-chevron-right button-calm">Tuesday</a>
<a ui-sref="ManagerTabController.happyTimes()" class="button button-full  icon-right ion-chevron-right button-calm">Wednesday</a>
<a ui-sref="ManagerTabController.happyTimes()" class="button button-full  icon-right ion-chevron-right button-calm">Thursday</a>
<a ui-sref="ManagerTabController.happyTimes()" class="button button-full  icon-right ion-chevron-right button-calm">Friday</a>
<a ui-sref="ManagerTabController.happyTimes()" class="button button-full  icon-right ion-chevron-right button-calm">Saturday</a>


<!--   <div class="row no-padding happy-row">
   <div class="col col-50">
    <p class="text-center"><strong class="results"></strong></p>
    <button class="button button-full button-stable btn-blue" ng-click="gbc1()">
     From Time  
   </button>
 </div>
 <div class="col col-50">
  <p class="text-center"><strong class="resultsTwo"></strong></p>
  <button class="button button-full button-stable btn-blue" ng-click="gbc2()">
   To time 
 </button>
</div>
</div>


<button id="happy-submit-button" class="button button-block" ui-sref="ManagerTabController.manageAccount">Save</button>
 -->
</ion-content>
</ion-view>
<!-- </ion-nav-view>