<ion-view title="Vendor Details" id="page9">
	<ion-nav-title>
		<h4 class="title-bar">Vendor Details</h4>
	</ion-nav-title>
	<ion-nav-bar class="header-bar">
		
	</ion-nav-bar>

	<ion-nav-buttons side="left">
		<a ui-sref="UserTabController.promotions()" class="txt-white extra-padding"><i class="icon ion-chevron-left"></i></a>
	</ion-nav-buttons>
	
	<ion-content padding="false" class="has-header">
		<div class="main-view" ng-repeat="hotel in hotels | filter: {id: whichhotel}">
			<div class="item item-image">
				<img id="hotel-img" src="img/{{hotel.image}}.jpg">
			</div>

			<div class="hotel-details">
				<div class=" row">
					<div class="col col-80">
						<h2>{{hotel.name}}</h2>
						<p>{{hotel.address}}</p>
						<h4>Menu</h4>
						<h4>Happy Hours 12AM - 3PM</h4>
						
						<span ng-show="{{hotel.deal}}"><i class="icon ion-pricetags"></i>{{hotel.deal}}</span>
						<span ng-show="{{!hotel.deal}}" class="margin-top"> No current deals offered- follow this restaurant and we will notify you when they post a deal!</span>
					</div>
					<div class="col col-20">
						<p class="followers-txt">Followers
							<small>1,235</small></p>

							<br>

							<a ui-sref="UserTabController.promotions()" class="button button-small button-balanced">
								Follow
							</a>	
						</div>
					</div>



				</div>


			</div>

			<div class="explore-deals-button">
				<center><a ui-sref="UserTabController.promotions()" class="button button-small button-balanced">
					Explore Deals
				</a></center>
			</div>

		</ion-content>
	</ion-view>