<ion-view title="Login" id="page3" cache-view="false">

<ion-nav-title>
    <h4 class="title-bar">Login</h4>
  </ion-nav-title>
  <ion-nav-bar class="header-bar">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <div class="login-header">
      <h1>Savour</h1>
      <h3>Deals</h3>
    </div>
    <form id="login-form2" class="list login-view">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label"> <i class="icon ion-person txt-blue"></i> User</span>
          <input type="text" placeholder="" ng-model="name">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label"> <i class="icon ion-locked txt-blue"></i> Password</span>
          <input type="password" placeholder="" ng-model="pass">
        </label>
      </ion-list>
      <button id="login-button3" class="button button-block" ng-click="login(name,pass)"><span style="color: #ffffff"> Log in</span></button>
     
    </form>
    <div class="list">
      
    </div>
  </ion-content>
</ion-view>

