

<!-- test code -->
<ion-view title="Savour" id="page14" cache-view="false">
	<ion-nav-title>
        <h4 class="title-bar">Savour</h4>
    </ion-nav-title>
    <ion-nav-bar class="header-bar">
        <ion-nav-buttons side="right">      
            <button class="button icon-right" ui-sref="ManagerTabController.managerProfile()"><i class="icon ion-person" id="icon-white"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
    	<div class="">
    		<div class="item item-image">
    			<img src="img/1.jpg" id="uploadimg">
    		</div>
    		<button class="button button-full button-stable btn-blue" ng-click="gbc()">
    			Upload Picture
    		</button>
    	</div>
    	<div class="row vender-followers no-padding">
    		<div class="col col-50 border">
    			<a href="">Followers</a>
    		</div>
    		<div class="col col-50 border">
    			<a href="">1,243</a>
    		</div>
    	</div>
    	<div class="vendor-home-view">
    		<h2> Restaurant Name </h2>
    		<p>Trident Nariman Point</p>
    		<h2> Address</h2>
    		<p>Netaji Subhash Chandra Bose Road, Nariman Point, Barrister Rajni Patel Marg, Mumbai</p>

    		<div class="fileUpload btn btn-primary btn-blue">
    			<span>Upload Menu PDF</span>
    			<input type="file" class="upload" ng-model="localFile" id="store-input" accept="image/*"
    			onchange="angular.element(this).scope().localUpload(this)"/>
    		</div>

    		<div class="fileUpload btn btn-primary btn-blue">
    			<span ui-sref="ManagerTabController.happyHours()">Happy Hour Times</span>
    			<!-- <input type="file" class="upload" ng-model="localFile" id="store-input" accept="image/*"
    			onchange="angular.element(this).scope().localUpload(this)"/> -->
    		</div>

    	<!-- 	<div class="row no-padding">
    			<div class="col col-50">
    				<p class="text-center"><strong class="results"></strong></p>
    				<button class="button button-full button-stable btn-blue" ng-click="gbc1()">
    					From Time  
    				</button>
    			</div>
    			<div class="col col-50">
    				<p class="text-center"><strong class="resultsTwo"></strong></p>
    				<button class="button button-full button-stable btn-blue" ng-click="gbc2()">
    					To time 
    				</button>
    			</div>
    		</div> -->
			<!-- <label class="item item-input item-select">
			    <div class="input-label">
			      Upload Happy Hour times
			    </div>
			    <select>
			      <option>12PM to 3PM</option>
			      <option selected> 3PM to 6PM</option>
			      <option>6PM to 9PM</option>
			    </select>
			</label> -->
			<p id="url"></p>
		</div>
	</ion-content>
</ion-view>