

<ion-view view-title="Profile">

<ion-nav-title>
    <h4 class="title-bar">Profile</h4>
  </ion-nav-title>
  <ion-nav-bar class="header-bar">
    <ion-nav-buttons side="right">      
      <button class="button icon-right" ng-click="logout()"><i class="icon ion-power"></i></button>

    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <a ui-sref="ManagerTabController.manageAccount()" class="txt-white extra-padding"><i class="icon ion-chevron-left"></i></a>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">


<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-help"></i>
    Help Box
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-contact"></i>
    Contact
    <!-- <i class="icon ion-ios-telephone-outline"></i> -->
  </a>

  <a class="item item-icon-left" ng-click="logout()">
    <i class="icon  ion-log-out"></i>
    Logout
   <!--  <span class="item-note">
      Grammy
    </span> -->
  </a>

  
</div>
  </ion-content>
</ion-view>
