<ion-view id="secondtab">
	<ion-tabs class="tabs-icon-top" id="newTabController-tabs1">
		<ion-tab title="Manage Account" icon="ion-home" href="#/managerTab/manageAccount" id="newTabController-tab2">
			<ion-nav-view name="manage-account"></ion-nav-view>
		</ion-tab>
		
		<ion-tab title="Create Promotion" icon="ion-ios-pricetag" href="#/managerTab/createPromotion" id="newTabController-tab1">
			<ion-nav-view name="create-promotion"></ion-nav-view>
		</ion-tab>
		
	</ion-tabs>
</ion-view>