<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="menuContent">
    <ion-header-bar class="bar-royal">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left" id="menu-list-item1" ui-sref="menu.promotions()" menu-close="">
          <i class="icon ion-ios-pricetag"></i>Promotions</ion-item>
          <ion-item class="item-icon-left" id="menu-list-item4" ui-sref="menu.restaurants()" menu-close="">
            <i class="icon ion-ios-location"></i>Restaurants</ion-item>
            <ion-item class="item-icon-left" id="menu-list-item2" ui-sref="menu.wallet()" menu-close="">
              <i class="icon ion-cash"></i>Wallet</ion-item>
              <ion-item class="item-icon-left" id="menu-list-item3" ui-sref="menu.profile()" menu-close="">
                <i class="icon ion-ios-pricetags"></i>Voucher</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item3" ui-sref="menu.userInterfacehome()" menu-close="">
                  <i class="icon ion-man"></i>User Interface</ion-item>
                </ion-list>
              </ion-content>
            </ion-side-menu>
          </ion-side-menus>