<ion-view title="Promotion" id="page15">
	<ion-nav-buttons side="left">
      <a ui-sref="UserTabController.promotions" class="txt-white extra-padding"><i class="icon ion-chevron-left"></i></a>
    </ion-nav-buttons>
  	<ion-content padding="false" class="has-header">
  		<div class="main-view">
	      <div class="item item-image">
	        <img src="img/hotel-1.jpg">
	      </div>

	      <div class="hotel-details">
	      	<div class=" row">
		        <div class="col col-80">
			        <h2>Intercontinental Marine Drive</h2>
			        <p>135 Marine Drive, Marine Drive, Mumbai</p>
			        <h4>Menu</h4>
			        <h4>Happy Hours</h4>
			        <span class="margin-top"><i class="icon ion-pricetags"></i> Christmas Offers</span>
		    	</div>
		    	<div class="col col-20">
		    		<p class="followers-txt">Followers
	              <small>1,235</small></p>
		    	</div>
		    </div>
	      </div>

	    </div>
		<div class="row main-view">
	        <div class="col col-20">
	          <img src="img/hotel-1.jpg">
	        </div>
	        <div class="col col-60">
	          <h2>Trident Nariman Point</h2>
	          <p>Netaji Subhash Chandra Bose Road, Nariman Point, Barrister Rajni Patel Marg, Mumbai</p>
	        </div>
	        <div class="col col-20 send-to-login">
	          <p class="followers-txt">Followers
              <small>1235</small></p>
	          <a ui-sref="login" class="button button-small button-balanced">
	            Redeem
	          </a>
	          <a ui-sref="login" class="button button-small button-balanced">
	            Save
	          </a>
	        </div>
	    </div>
	</ion-content>
</ion-view>