<ion-view title="Savour" id="page3">

<ion-nav-buttons side="right">

 	<button class="button button-royal" ng-click="logout()"><i class="icon ion-power"></i></button>

</ion-nav-buttons>

	<ion-content padding="true" class="has-header">


		<div class="user-interface-voucher-block">
			<div class="">
				<h1>SAVOUR</h1>
				<p class="font-size-16px"> Present to the Vendor</p>
			</div>
	     
	</div>
	<div class="list card">
		<div class="item item-avatar">
			<img src="img/3.jpg">
			<h2>Restaurant Name</h2>
			<p>Intercontinental Marine Drive</p>
		</div>

		<div class="item item-image">
			<img src="img/3.jpg" height="130">
		</div>

		<a class="item item-icon-left promotion-name" href="">
			<i class="icon ion-pricetags text-grey"></i>
			Promotion Name 
			<p>Diwali Offers</p>
		</a>

		<div class="user-interface-voucher-block">
			<p>Redeemed on : <strong> 03-28-2017</strong></p>
			<p>Expires in : <strong> 59 Min </strong></p>

			<a ui-sref="menu.wallet()" class="button button-assertive">
				Exit Voucher
			</a>

		</div>
	</div>
	<!-- <a ui-sref="userInterfacehome" id="cameraTabDefaultPage-button1">User Interface</a> -->
</ion-content>
</ion-view>