<ion-view title="" id="page1">
	<ion-nav-title>
		<h4 class="title-bar">Savour</h4>
	</ion-nav-title>
	<ion-nav-bar class="header-bar">
		<ion-nav-buttons side="right">    	
			<button class="button icon-right" ui-sref="UserTabController.userProfile()"><i class="icon ion-person" id="icon-white"></i></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content padding="true" class="has-header">

		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
	</ion-refresher>

	<div class="list list-inset city-name">

		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" ng-model="query" placeholder="Search Open Deals">
		</label>
	</div>


	<ion-list>
		<div class="home-card-block" ng-repeat="hotel in hotels | filter: query">

			<div class="row home-card item item-text-wrap">
				<div class="col col-25">
					<img ng-src="img/{{hotel.image}}.jpg" height="60" width="60">
				</div>
				<div class="col col-55">
					<h2><a href="#/userTab/promotions/{{hotel.id}}">{{hotel.name}}</a></h2>
					<p ng-show="{{hotel.deal}}"><i class="icon ion-pricetags"></i> {{hotel.deal}}

					

					</p>

				</div>
				<div class="col col-20">

					<button class="button button-small button-balanced" ng-click="check({{hotel.id}})">
						Redeem
					</button> <br>
					<button class="button button-small button-balanced">
						Save
					</button>
					<div ng-show="{{hotel.deal}}" id="timer"> {{ days }}d {{hours}}h  {{minutes}}m</div>
				</div>
			</div>
		</div>
	</ion-list>



</ion-content>
<script id="modal.html" type="text/ng-template">
	<div class="modal" ng-click="closeModal()">
		<ion-content>

			<div class="user-interface-voucher-block">
				
				<!-- <h1>SAVOUR</h1> -->
				<img src="img/logo.png" width="100%" height="100" style="margin-top: 16px">
				<p class="font-size-16px">Present to the Vendor</p>
				

			</div>

			<div class="list card modal-box" ng-repeat="hotel in hotels | filter: {id: data.selected}">
				<div class="item item-avatar">
					<img src="img/{{hotel.image}}.jpg">
					<h2>{{hotel.name}}</h2>
					<!-- <p>Intercontinental Marine Drive</p> -->
				</div>

				<div class="item item-image">
					<img src="img/{{hotel.image}}.jpg" width="100%" height="250">
				</div>

				<a id="deal-tag" ng-show="{{hotel.deal}}" class="item item-icon-left">
					<i  class="icon ion-pricetags"></i>
					<p>{{hotel.deal}}</p>
				</a>

				<!-- <a class="item-icon-left" >
					<i  class="icon ion-pricetags"></i>
					<p id="modal-deal">{{hotel.deal}}</p>
				</a> -->

				<div class="margin-10 user-interface-voucher-block">
					<p>Redeemed on : <strong> 28-03-2017</strong></p>
					<p>Expires in : <strong> {{minutes}}:{{seconds}} </strong></p>
					<a  class="button button-assertive">
						Exit Voucher
					</a>

				</div>
			</div>


		</ion-content>
	</div>
</script>
</ion-view>