<ion-view title="Wallet" id="page6" class="bar-royal">
  
  <ion-nav-title>
    <h4 class="title-bar">Wallet</h4>
  </ion-nav-title>
  <ion-nav-bar class="header-bar">
    
  </ion-nav-bar>

 <!--  <ion-nav-buttons side="left">
   
    <a ui-sref="menu.wallet" class="txt-white extra-padding"><i class="icon ion-chevron-left"></i></a>
  </ion-nav-buttons> -->
	<ion-content padding="false" class="has-header"> 
      <div class="row saved-deals no-padding">
        <div class="col col-50 border bg-dark-blue">
         <a>Reedemed</a>
       </div>
       <div class="col col-50 border">
       <a ui-sref="UserTabController.saveDeals()">Saved</a>
       </div>
     </div>

     <div class="row main-view">
       <div class="col col-20">
         <img src="img/1.jpg">
       </div>
       <div class="col col-60">
         <h2>Intercontinental Marine Drive</h2>
         <p>135 Marine Drive, Marine Drive, Mumbai</p>
         <span><i class="icon ion-pricetags"></i> Diwali Offers</span>
         <p class="text-center">Remaning Time : 20min</p>    
       </div>
       <div class="col col-20">
	          <button class="button button-small button-balanced">
              Voucher
            </button>
          </div>
        </div>



        <div class="row main-view">
          <div class="col col-20">
            <img src="img/hotel-1.jpg">
          </div>
          <div class="col col-60 expire-font-red">
            <h2>Trident Nariman Point</h2>
            <p>Netaji Subhash Chandra Bose Road, Nariman Point, Barrister Rajni Patel Marg, Mumbai</p>
            <span><i class="icon ion-pricetags"></i> Christmas Offers</span>
            <p class="text-center" id="expire-font" >Expired</p>  
          </div>
          <div class="col col-20">
           <button class="button button-small button-balanced">
             Voucher
           </button>
         </div>
       </div>

       
 
     </ion-content>
   </ion-view>