<ion-view title="Restaurants" id="page4">

	<ion-nav-title>
		<h4 class="title-bar">Vendors</h4>
	</ion-nav-title>
	<ion-nav-bar class="header-bar">
		<ion-nav-buttons side="right">    	
			<button class="button" id="icon-right" ui-sref="UserTabController.userProfile()"><i class="icon ion-person" id="icon-white"></i>
			</button>
		</ion-nav-buttons>		
	</ion-nav-bar>

	<ion-content padding="true" class="has-header">
		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
	</ion-refresher>

	<ion-list>
		<div class="home-card-block" ng-repeat="hotel in hotels | filter: query">
			<!-- <a id="link-hotelDetails" href="#/userTab/promotions/{{hotel.id}}">  -->

				<div class="row home-card item item-text-wrap">
					<div class="col col-25">
						<img ng-src="img/{{hotel.image}}.jpg" height="60" width="60">
					</div>
					<div class="col col-55">
						<h2>{{hotel.name}}</h2>
						<!-- <p>{{hotel.address}}</p> -->
						<p ng-show="{{hotel.deal}}"><i class="icon ion-pricetags"></i> {{hotel.deal}}

						</p>

					</div>
					<div class="col col-20">

								<!-- <button class="button button-small button-balanced">
									Redeem
								</button> <br>
							-->
							<button class="button button-small button-balanced">
								Follow
							</button>

						</div>
					</div>
					<!-- </a> -->
				</div>
			</ion-list>


		</ion-content>
	</ion-view>