<ion-view  id="page8">
  <ion-nav-title>
    <h4 class="title-bar">Wallet</h4>
  </ion-nav-title>
  <ion-nav-bar class="header-bar">
    
  </ion-nav-bar>

 <ion-content padding="false" class="has-header">

  <div class="row saved-deals no-padding">
    <div class="col col-50 border">
     <a ui-sref="UserTabController.redeemed()">Reedemed</a>
   </div>
   <div class="col col-50 border bg-dark-blue">
     <a>Saved</a>
   </div>
 </div>

 <div class="row main-view">
   <div class="col col-20">
     <img src="img/1.jpg">
   </div>
   <div class="col col-60">
     <h2>Intercontinental Marine Drive</h2>
     <p>135 Marine Drive, Marine Drive, Mumbai</p>
     <span><i class="icon ion-pricetags"></i> Diwali Offers</span>
   </div>
   <div class="col col-20">
     <p class="followers-txt">Followers
      <small>1,235</small></p>
      <a ui-sref="tabsController.voucher" class="button button-small button-balanced">
       Redeem
     </a>
   </div>
 </div>



 <div class="row main-view">
  <div class="col col-20">
    <img src="img/hotel-1.jpg">
  </div>
  <div class="col col-60">
    <h2>Trident Nariman Point</h2>
    <p>Netaji Subhash Chandra Bose Road, Nariman Point, Barrister Rajni Patel Marg, Mumbai</p>
    <span><i class="icon ion-pricetags"></i> Christmas Offers</span>
  </div>
  <div class="col col-20">
    <p class="followers-txt">Followers
      <small>1,235</small></p>
      <a ui-sref="tabsController.voucher" class="button button-small button-balanced">
        Redeem
      </a>
    </div>
  </div>

  <div class="explore-deals-button">
      <center><a ui-sref="menu.promotions" class="button button-small button-balanced">
        Explore Deals
      </a></center>
    </div>
    

</ion-content>
</ion-view>