

<ion-view view-title="Profile">
  <ion-nav-title>
    <h4 class="title-bar">Profile</h4>
  </ion-nav-title>
  <ion-nav-bar class="header-bar">
    <ion-nav-buttons side="right">      
      <button class="button icon-right" ng-click="logout()"><i class="icon ion-power"></i></button>

    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content padding="false" class="has-header">


    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        Manage Account
      </a>

      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Invite Friends
        <!-- <i class="icon ion-ios-telephone-outline"></i> -->
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-help-buoy"></i>
        Help
        <!-- <span class="item-note">
          Grammy
        </span> -->
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i>
        Contact
        <!-- <span class="badge badge-assertive">0</span> -->
      </a>

    </div>
  </ion-content>
</ion-view>
