<ion-view id="usertab">
	<ion-tabs class="tabs-icon-top user-tabs" >
		
		<ion-tab title="Promotion" icon="ion-ios-pricetag" href="#/userTab/promotions" id="promotion-tab">
			<ion-nav-view name="promotions"></ion-nav-view>

		</ion-tab>
		
		<ion-tab title="All Vendors" icon="ion-ios-location" href="#/userTab/allvendors" id="allvendors-tab">
			<ion-nav-view name="all-vendors"></ion-nav-view>

		</ion-tab>

		<ion-tab title="Wallet" icon="ion-cash" href="#/userTab/wallet" id="wallet-tab">
			<ion-nav-view name="wallet"></ion-nav-view>
			
		</ion-tab>

		
	</ion-tabs>
</ion-view>