<ion-view title="User Interface" id="page10" cache-view="false">
	<ion-nav-buttons side="right">
<!--     	<a ui-sref="tabsController.cameraTabDefaultPage" class="txt-white">Sign Out</a>

 -->
 	<button class="button button-royal" ng-click="logout()"><i class="icon ion-power"></i></button>
   	</ion-nav-buttons>
	<ion-content padding="true" class="has-header">
		<div class="user-interface-voucher-block">
	      <div class="">
	        <h1>SAVOUR</h1>
	        <p class="font-size-16px">Deals <br/>Present to the Vendor</p>
	      </div>
	      <!-- <div class="margin-10">
	        <p><strong>Pramotion Neame</strong></p>
	        <p>Diwali Offers</p>
	        <p>Restaurant Name</p>
	        <p>Intercontinental Marine Drive</p>
	      </div> -->
	      
	      
	    </div>
	    <div class="list card">
		  <div class="item item-avatar">
		    <img src="img/3.jpg">
		    <h2>Restaurant Name</h2>
		    <p>Intercontinental Marine Drive</p>
		  </div>

		  <div class="item item-image">
		    <img src="img/3.jpg">
		  </div>

		  <a class="item item-icon-left" href="">
		    <i class="icon ion-pricetags text-grey"></i>
		    Pramotion Name 
		    <p>Diwali Offers</p>
		  </a>

		  	<div class="margin-10 user-interface-voucher-block">
		        <p>Redeemed on : <strong> 28-03-2017</strong></p>
		        <p>Expires in : <strong> 59 Min </strong></p>
		        <a ui-sref="tabsController.cloudTabDefaultPage" class="button button-assertive">
		          Exit Voucher
		        </a>
		        
	    	</div>
		</div>
		<a ui-sref="tabsController.userInterfaceHome" id="cameraTabDefaultPage-button1">User Interface</a>
	</ion-content>
</ion-view>