<ion-view title="Wallet" id="page2">
	<ion-nav-title>
		<h4 class="title-bar">Wallet</h4>
	</ion-nav-title>
	<ion-nav-bar class="header-bar">
		<ion-nav-buttons side="right">    	
			<button class="button" id="icon-right" ui-sref="UserTabController.userProfile()"><i class="icon ion-person" id="icon-white"></i>
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content padding="true" class="has-header">
		<div class="row saved-deals no-padding">
			<div class="button-bar">
				<a class="button" ui-sref="UserTabController.redeemed()">Redeemed</a>
				<a class="button" ui-sref="UserTabController.saveDeals()">Saved</a>
			</div>
		</div> 
		<div class="explore-deals">
			<p>You do not have any deals saved <br/>or open to redeem at this moment </p>
		</div>
		<div class="explore-deals-button">
			<center><a ui-sref="UserTabController.promotions" class="button button-small button-balanced">
				Explore Deals
			</a></center>
		</div>
	</ion-content>
</ion-view>