#icon-right{
	background-color: #00ADAB !important;
}

#icon-white{
	color: #ffffff;
}

.home-card{
	/*flex-direction: row;
	display: flex;*/

	border-bottom: 1px solid #c6c0c0;
	margin-bottom: 15px !important;
	box-shadow: 2px 2px 2px #ddd;
}

.home-card h2{
	font-size: 15px;
	color: #212020;
	margin-bottom: 0;
}

.home-card p{
	font-size: 10px;
	color: #837e7e;
	line-height: 15px;
	margin-top: 5px;

}

.home-card button{
	width: 100%;
	padding:0;
	margin-bottom: 3px;
	vertical-align: middle;
}


.home-card p
{
	color: #dd7121;
	font-size: 13px;
	line-height: 15px;
	display: block;
	/*animation: blinker 1s linear infinite;*/
}
#timer{
	color: grey;
	font-size: 8px;
}

#modal-deal{
	color: #dd7121;
	padding-left: 50px;
}

#deal-tag{
	color: #dd7121; 
}

#deal-tag p{
	color: #dd7121; 
	white-space: normal;
}

