/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

.main-view
{
	/*border-top: 1px solid #c6c0c0;*/
	border-bottom: 1px solid #c6c0c0;
	margin-bottom: 15px !important;
	box-shadow: 2px 2px 2px #dbd9d9;
}
.main-view img
{
	width: 100%;
	height: 90px;
}
a
{
	/*text-decoration: none;*/
}
.main-view h2
{
	font-size: 15px;
	color: #212020;
	margin-bottom: 0;
}
.main-view p
{
	font-size: 10px;
	color: #837e7e;
	line-height: 15px;
	margin-top: 5px;
}
.main-view button
{
	width: 100%;
	padding:0;
	margin-bottom: 3px;
}
.city-name h5
{
	color: #666;
	margin-top: 0;
}
.main-view span
{
	color: #dd7121;
	font-size: 13px;
    line-height: 15px;
    display: block;
	/*animation: blinker 1s linear infinite;*/
}
/*@keyframes blinker {  
  50% { opacity: 0; }
}*/
p.followers-txt
{
	font-size: 11px;
	text-align: center;
	color: #886aea;
}
p.followers-txt small
{
	text-align: center;
	display: block;
	color: #886aea;
}
.border
{
	border: 1px solid #eeeaea;
	
}
.border-none
{
	
}
.dummy-view a
{
	text-decoration: none;
	text-align: center;
	color: #777;
	margin: 0 auto;
	display: block;
	font-weight: bold;
	padding: 0.8em 0;
}
.saved-deals a
{
	text-decoration: none;
	text-align: center;
	color: #777;
	margin: 0 auto;
	display: block;
	font-weight: bold;
	padding: 0.8em 0;
}
.saved-deals .border:hover
{
	background: #d9d5e7;
	color: #fff;
}
.bg
{
	background: #000;
}
.bg-dark-blue
{
	background: #d9d5e7;
	color: #777 !important;
}
.txt-white
{
	color: #fff;
	margin-top: 10px;
	font-size: 10px;
}
.user-interface-voucher-block 
{
	text-align: center;
}
.user-interface-voucher-block h1
{
	text-align: center;
	/*margin-top: 5%;*/
	color: #342562;
}
.margin-10
{
	margin: 10% 0;
}
.user-interface-home-tab a
{
	display: block;
	text-align: center;
	color: #1e1637;
	text-decoration: none;
	font-size: 13px;
	margin:5% 0;
	border: 1px solid #f7f7f7;
	box-shadow: 0px 0px 10px #ccc;
	padding: 10px 0;
}
.user-interface-home-tab a img
{
	width: 100%;
	height: 120px;
}
/*.user-interface-home-tab 
{
	border-bottom: 1px solid #777;
}*/
.loading-view h1
{
	color: #fff;
	margin-top: 50%;
}
.loading-view
{
	background: #08003a;
	height: 100%;
	color: #fff;
	text-align: center;
}
.explore-deals p
{
	text-align: center;
	margin-top: 30%;
}
.explore-deals-button a
{
	text-align: center;
	/*margin-top: 10%;*/
	padding: 0.5em 1em;
}
.ion-calculator,
.ion-person-add,
.ion-android-hand,
.ion-android-call
{
	font-size: 2.5em !important;
	color: #7461b2;
}
.pramotion-view
{
	margin: 10% 0;
	text-align: center;
}
.upcoming-promo
{
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px #dbd9d9;
}
.upcoming-promo img
{
	width: 100%;
}
.upcoming-promo h2
{
	font-size: 15px;
	color: #323232;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0 0.5em;
}
.upcoming-promo p
{
	font-size: 13px;
	color: #837e7e;
	margin-top: 0;
	padding: 0 0.5em;
}
.hotel-details
{
	padding: 0.5em 1em;
}
.hotel-details h2
{
	font-size: 15px;
	color: #212020 !important;
}
.vendor-home-view
{
	margin: 5% 0;
}
.vendor-home-view h2
{
	font-size: 15px;
	color: #212020 !important;
	margin-bottom: 0;
	margin-top: 0;
}
.vendor-home-view p
{
	font-size: 12px;
	color: #837e7e;
	margin-bottom: 2%;
	line-height: 15px;
	margin-top: 2px;
}
.hotel-details h4,
.hotel-details h5
{
	font-size: 14px;
    color: #797575;
    margin: 7px 0 0 0;
}
.hotel-details p
{
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.hotel-details span
{
	font-size: 12px;
}
.no-padding
{
	padding: 10px 0;
	
}

.happy-row{
	margin-top: 90px;
	margin-bottom: 40px;
}
.vendor-home-view input
{
	background: #f8f8f8;
    width: 100%;
    padding: 0.4em 0;
}

#expire-font{
	color: red;
}

 #timerPromotion{
	color: grey;
	font-size: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    background: #f8f8f8;
    padding: 0.7em 0;
    font-size: 16px;
    text-align: center;
    margin-top: 7%;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.vendor-home-view .item-select
{
	margin-top: 3%;
    /*background: #f8f8f8;	*/
    border: 1px solid #f8f8f8;
}
.vendor-home-view .item-select select
{
	background: #f8f8f8;	
    border: 1px solid #f8f8f8;
}
.promotion-offers .ion-pricetags
{
	color: #777;
}
.margin-top
{
	margin-top: 7px;
}
.pramotion-header h4
{
	color: #777;
	margin-bottom: 0;
    padding: 0 0 0 0.2em;
}
.pramotion-block h2
{
	font-size: 15px;
	color: #212020;
	margin-bottom: 0;
	font-weight: bold;
	color: #666;
}
.pramotion-block p
{
	font-size: 11px;
	/*color: #837e7e;*/
	color: #dd7121;
	line-height: 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.pramotion-block span
{
	font-size: 12px;
}
.vender-followers a{
	text-decoration: none;
	text-align: center;
	color: #777;
	margin: 0 auto;
	display: block;
	font-weight: bold;
	padding: 0.8em 0;
}
.font-size-16px
{
	font-size: 15px;
}
.text-grey
{
	color: #777;
}
.ionic_timepicker_popup .heading,
.ionic_timepicker_popup .popup-buttons,
.popup-buttons .button:last-child
{
	background: #886aea !important;
}
.ionic_timepicker_popup .popup-buttons .button:not(:last-child)
{
	/*color: #777 !important;*/
}
.ionic_timepicker_popup .button_set, .ionic_timepicker_popup .button_close
{
	background: #886aea !important;
}
.text-center
{
	text-align: center;
}
.send-to-login a
{
	display: block;
	margin-bottom: 3px;
}
.txt-white .icon
{
	font-size: 20px;
}
/*button.button .back-button .buttons .button-clear .header-item
{
	display: none !important;
	opacity: 0 !important;
*/}
button .ion-power
{
	font-size: 12px;
}
.extra-padding
{
	padding: 0 0.5em;
}
.bg-blue
{
	background: #886aea;
}
.txt-blue
{
	color: #00ADAB;
}
.login-view
{
	/*margin-top: 30%;*/
}
/*.login-view img
{
	border-radius: 50%;
	width: 100px;
	margin: 0 auto;
}*/
.login-view label
{
	margin-bottom: 1em;
}
.login-header
{
	text-align: center;
	margin-top: 20%;
}
.login-header h1
{
	color: #00ADAB;
	margin-bottom: 0;
}
.login-header h3
{
	color: #00ADAB;
	margin-top: 0;
	margin-bottom: 10%;
}
.btn-blue
{
	background: #cbc2ea !important;
	/*margin-left: 15%;*/
}
.margin-top-25px
{
	margin-top: 25px;
}

.promotion-name p
{
font-size: 17px;
}


.header-bar{
	background-color: #00ADAB;
}

.title-bar{
	color: #ffffff;
	font-weight: bold;
	
}

.icon-right{
	background-color: #00ADAB !important;
	color: #ffffff;
}

/*tabs color*/

.tabs{
	background-color: #00ADAB;
	color: #ffffff;
} 
.home-card-block
{
	margin-bottom: 10px;
}

